doctype html
html(lang='en')
    head
        title SonySkatingRinkWall
        link(rel="icon" href="favicon.ico")
        script(type="text/javascript" src="js/inflate.min.js")
        script(type="text/javascript" src="js/main.js")
    body

