doctype html
html(lang='en')
    head
        title SonySkatingRinkWall
        link(rel="icon" href="favicon.ico")
        link(href="https://fonts.googleapis.com/css?family=Dosis:600|Mali" rel="stylesheet")
        script(type="text/javascript" src="js/inflate.min.js")
        script(type="text/javascript" src="js/main.js")
    body

